body{
	font-size: Arial, sans-serif;
}
header{
	position: fixed;
	z-index: 3;
	height: 8%;
	width: 100%;
}
nav{
	width: 100%;
	height: 100%;
	background: #344052;
	color: white;
}
@keyframes comming{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
@keyframes topShift{
	from{
		opacity: 0;
		margin-top: -8vh;
	}
	to{
		opacity: 1;
		margin-top: 0;
	}
}
.logo{
	font-size: 20px;
	line-height: 8vh;
	padding-left: 20%;
	float: left;
	height: 100%;
	width: 50%;
	animation-delay: 1s;
}
.logo._active{
	animation: comming 4s;
}
main{
	width: 100%;
}
.menu{
	float: left;
	padding-left: 0%;
	width: 50%;
}
.menu li{
	opacity: 0;
	float: left;
	line-height: 8vh;
	margin-right: 2%;
	font-size: 10px; 
	
}
.menu li._active{
	-webkit- animation: topShift 0.4s forwards;
	-o- animation: topShift 0.4s forwards;
	animation: topShift 0.4s forwards;
}
.menu li:nth-child(2){
	animation-delay: 0.4s;
}
.menu li:nth-child(3){
	animation-delay: 0.6s;
}
.menu li:nth-child(4){
	animation-delay: 0.8s;
}
.menu li:nth-child(5){
	animation-delay: 1s;
}
.menu li:nth-child(6){
	animation-delay: 1.2s;
}
.menu ul li a{
	transition: color 0.5s;
	color: white;
	transition: transform 0.3s;
	display: inline-block;
	transform: scale(1);
}
.menu ul li a:visited{
	color: white;
}
.menu ul li a:hover{
	color: #e6a754;
	transform: translate(0,5%);
}
.menu ul li a:active{
	transform: scale(1.08);
}
.titleContener{
	height: 92vh;
	
	width: 100%;

	
	background: url(../img/boy.jpg) 90% 100%/ auto 90% no-repeat, url(../img/fon.jpg) center /100% 100% no-repeat ;
}
.titleContenerDiv{
	opacity: 0;
	float: left;
	text-align: center;
	margin-left: 20.8%;
	margin-top: 20%;
	width: 30%;
	height: 40%;
}
.titleContenerDiv._active{
	-webkit- animation: leftShift 2s forwards;
	-o- animation: leftShift 2s forwards;
	animation: leftShift 2s forwards;
	animation-delay: 1s;
}
@keyframes leftShift{
	from{
		margin-left: -30%;
		opacity: 0;
	}
	to{
		margin-left: 20.8%;
		opacity: 1;
	}
}
.titleContener h1{
	font-weight: bold;
	font-size: 8vh;
	color: #2c384a;
}
.titleContener h4{
	color: #79818d;
	margin-top: 5%;
	font-size: 2vh;
}
.titleContener input{
	margin-top: 12%;
	text-align: center;
	border: 2px solid #79818d;
	color: #79818d;
	background: none;
	border-radius: 5px;
	height: 17%;
	padding-left: 2%;
	padding-right: 2%;
	font-size: 3vh;
	margin-left: 4%;
	transition: 0.5s;
	transform: scale(1);
}
.titleContener input:hover{
	color: white;
	background-color: #344052; 
	transform: translate(0,5%);
}
.titleContener input:active{
	transform: scale(1.1);
}
.myInfo{
	width: 46%;
	height: 85vh;
	text-align: center;
	margin-left: 26%
}
.myInfo h2{
	font-size: 3vh;
	font-weight: bold;
	margin-top: 4%;
	margin-bottom: 4%;
	color: #263244;
	text-decoration: solid underline #d17700 6px;

}
.myInfo p{
	font-size: 2.2vh;
	text-align: left;
	margin-bottom: 5%;
	color: #3f495a;
}
.imageRadius{
	width: 23vh; 
	height: 23vh;
	margin: 0 auto;
	margin-bottom: 5%;
	transform: rotate3d(0, 1, 0, 180deg);
	backface-visibility: hidden;
	background: url(../img/myInfoPhoto.jpg) 0 0/ 100% 100% no-repeat;
	transition: 1s;
}
.imageRadius._active{
	animation: rotation3D  1.5s forwards;
}
@keyframes rotation3D{
	from{
		transform: rotate3d(0, 1, 0, 180deg);
	}
	to{
		transform: rotate3d(0, 1, 0, 0deg);
	}
}
.myInfo input{
	margin: 0 auto;
	margin-top: 4%;
	text-align: center;
	border: 2px solid #79818d;
	color: #79818d;
	background: none;
	border-radius: 5px;
	height: 5%;
	padding-left: 3%;
	padding-right: 1%;
	font-size: 2.5vh;
	background: url(../img/MyInfoButtonImage.jpg) 2% 45% / auto 50% no-repeat;
	transition: 0.5s;
}
.myInfo input:hover{
	border: 2px solid #db8756;
	transform: translate(0,5%);

}
.myInfo input:active{
	transform: scale(1.1);
}
.mySkills{
	width: 100%;
	height: 70vh;
	text-align: center;
	
	background: url(../img/mySkillsImageBk.jpg) 0 0 / 100% 100% no-repeat;
}
.mySkills div{
	float: left;
	width: 100%;
	height: 100%;
}
.mySkills  h2{
	margin-top: 6%;
	margin-bottom: 8%;
	font-size: 3vh;
	font-weight: bold;
	color: #263244;
	text-decoration: solid underline #d17700 6px;
}
.mySkills ul{
	width: 60%;
	height:40%;
	margin-left: 22%;
}
.mySkills li{
	float: left;
	width: 20%;
	padding-top: 10%;
	margin-right: 5%;
	opacity: 0;
	transition: 0.8s;
}
.mySkills li:hover{
	transform: translate(0, 15%) scale(1.1);
}

.mySkills li:nth-child(1)._active{
	animation: mySkillsleftShift 2s forwards;
}
.mySkills li:nth-child(2){
	animation: mySkillsleftShift 2s forwards;
}
.mySkills li:nth-child(3){
	animation: mySkillsleftShift 2s forwards;
}
.mySkills li:nth-child(4){
	animation: mySkillsleftShift 2s forwards;
}
@keyframes mySkillsleftShift{
	from{
		margin-left: -20%;
		opacity: 0.5;
	}
	to{
		margin-left: 0%;
		opacity: 1;
	}
}
.mySkillsHeading{
	color: #cf7600;
	font-size: 2.7vh;
	margin-bottom: 7%;
}
.mySkillsText{
	color: #3f495a;
	font-size: 2.1vh;
}
#mySkillsLi1{
	background: url(../img/MySkilsImage1.png) 50% 0 / 40% auto no-repeat;
}
#mySkillsLi2{
	background: url(../img/MySkilsImage2.png) 50% 0 / 40% auto no-repeat;
}
#mySkillsLi3{
	background: url(../img/MySkilsImage3.png) 50% 0 / 40% auto no-repeat;
}
#mySkillsLi4{
	margin-right: 0;
	background: url(../img/MySkilsImage4.png) 50% 0 / 40% auto no-repeat;
}
.cases{
	text-align: center;
	width: 61%;
	height: 120vh;
	margin-left: 19%;
}
.cases>div{
	float:left;
	width: 100%;
	height:100%;
}
.cases h2{
	margin-top: 6%;
	margin-bottom: 4%;
	font-size: 3vh;
	font-weight: bold;
	color: #263244;
	text-decoration: solid underline #d17700 6px;
}
#casesHadingP{
	font-size: 2.2vh;
	margin-bottom: 4%;
	color: #384354;
}
#casesImageMain{
	width: 100%;
	height:65vh;
	background: url(../img/CasesImageMain.jpg) 0 0 / 100% auto no-repeat;
}
.casesInfo{
	float: left;
	text-align: left;
	color: #384354;
}
#casesInfo1{
	width: 30%;
	float: left;
}
#casesInfo1 h3{
	font-size: 2.4vh;
	font-weight: bold;
	margin-bottom: 2%;
}

#casesInfo1 p{
	font-size: 2vh;
	margin-bottom: 2%;

}
#casesInfo1 input{
	margin-top: 5%;
	background-color: #63b5ae;
	color: white;
	font-size: 2.3vh;
	font-weight: bold;
	border-radius: 3px;
	height: 9%;
	padding-left: 8%;
	padding-right: 8%;
	padding-top: 3%;
	padding-bottom: 3%;
	transform: scale(1);
	transition: 0.6s;
}
#casesInfo1 input:hover{
	background-color: #84ede4;
	transform: translate(0, 5%);
}
#casesInfo1 input:active{
	transform: scale(1.06);
}
#casesInfo2{
	width: 60%;
	float:left;
}
#casesInfo2 h4{
	font-size: 2.3vh;
	font-weight: bold;
	margin-bottom: 2%;
}
#casesInfo2 p{
	font-size: 2.3vh;
	margin-bottom: 2%;
}
.cost{
	width:46%;
	height: 80vh;
	margin: 0 auto;
}
.costBlock{
	float: left;
	text-align: center;
	width: 100%;
	height: 100%;
	color: #1c2534;
}
.costBlock h2{
	font-size: 5vh;
	font-weight: bold;
	margin-bottom: 2%;
}
.costBlock h3{
	font-size: 2.9vh;
	font-weight: bold;
	margin-bottom: 2%;
}
.costBlock>div{
	text-align: left;
	width: 100%;
	height:20%;
}
.costBlock select{
	text-align: left;
	width: 100%;
	height:45%;
	background-color: #eeeeee;
	color: #737373;
	transition: 0.2s;
}
.costBlock select:hover{
	background-color: #f8e9d5; 
}

.costBlock h4{
	text-align: left;
	font-size: 2.6vh;
	width: 100%;
	height:30%;
}
.statistics{
	width: 100%;
	height: 55vh;
	color: #1c2534;
	

}
.statisticsParalax{
	width: 100%;
	height: 100%;
	/*background: url(../img/statisticsImageMain.jpg) 0 0 / 100% auto no-repeat;
	z-index: 1;
	transform: translate(0px, 0px);
	position: absolute;*/

}
.parallax-window{
	width: 100%;
	height: 100%;
}
.statisticsBlock{

	width: 55%;
	height: 100%;
	float: left;
	margin-left: 23%;
	text-align: center;
}
.statisticsBlock h2{
	margin-top: 6%;
	margin-bottom: 4%;
	font-size: 3vh;
	font-weight: bold;
	color: #263244;
	text-decoration: solid underline #d17700 6px;
}
.statisticsBlock ul{
	float: left;
	width: 100%;
	height: 50%;
	margin-top: 10%;
	transform: translateZ(-1px);
}
.statisticsBlock li{
	float: left;
	padding-top: 10%;
	width: 25%;
	height: 40%;
	transition: 0.6s;
}
.statisticsBlock li:hover{
	transform: translate(0, 10%) scale(1.05);
}
.statisticsBlock h3{
	font-size: 4.2vh;
	margin-bottom: 5%;
	font-weight: bold;
	color: #1c2534;
}
.statisticsBlock h4{
	font-size: 2vh;
	color: #1c2534;
}
#statisticsBlockLi1{
	background: url(../img/statisticsBlockLi1.png) 50% 0 / 30% auto no-repeat;
}
#statisticsBlockLi2{
	background: url(../img/statisticsBlockLi2.png) 50% 0 / 30% auto no-repeat;
}
#statisticsBlockLi3{
	background: url(../img/statisticsBlockLi3.png) 50% 0 / 30% auto no-repeat;
}
#statisticsBlockLi4{
	background: url(../img/statisticsBlockLi4.png) 50% 0 / 30% auto no-repeat;
}
.reviews{
	width: 100%;
	height:60vh;
	opacity: 0;
}
.reviews._active{
	animation: reviewsSubmmit 2s forwards;
}
@keyframes reviewsSubmmit{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
.reviewsBlock{
	float: left;
	text-align: center;
	margin-left: 32%;
	width:35%;
	height: 100%;
}
.reviewsBlock h2{
	margin-top: 6%;
	margin-bottom: 10%;
	font-size: 3vh;
	font-weight: bold;
	color: #263244;
	text-decoration: solid underline #d17700 6px;
}
#reviewsImageMain{
	width: 15vh; 
	height: 15vh;
	margin: 0 auto;
	margin-bottom: 6%;
	background: url(../img/reviewsImageMain.jpg) 0 0/ 100% 100% no-repeat;
}
.reviewsBlock p{
	margin-bottom: 10%;
	font-size: 2vh;
	color: #263244;
}
.reviewsBlock bold{
	font-weight: bold;
}
.MYCONTACTS{
	width: 100%;
	height: 85vh;
	color: white;
	background: url(../img/MYCONTACTSImage.jpg) 0 0 / 100% auto no-repeat;
}
.MYCONTACTSBlock{
	float: left;
	text-align: center;
	margin-left: 32%;
	width:35%;
	height: 100%;
}
.MYCONTACTSBlock h2{
	margin-top: 6%;
	margin-bottom: 10%;
	font-size: 3vh;
	font-weight: bold;
	text-decoration: solid underline #d17700 6px;
}
.MYCONTACTSBlock p{
	margin-bottom: 10%;
	font-size: 1.8vh;
}
.MYCONTACTSBlock ul{
	text-align: center;
	float: left;
	width: 100%;
	height: 16%;
}
.MYCONTACTSBlock li{
	opacity: 0;
	font-size: 1.8vh;
	float: left;
	padding-top: 10%;
	margin-left: 6%;
	width: 25%;
	height: 40%;
	transition: 0.8s;
}
.MYCONTACTSBlock li:hover{
	transform: translate(0, 10%) scale(1.05);
}
#MYCONTACTSBlockLi1{
	background: url(../img/MYCONTACTSBlockLi1.png) 50% 0 / 18% auto no-repeat;
}
#MYCONTACTSBlockLi1._active{
	animation: MYCONTACTSBlockSubmmit 2.6s forwards;
}

#MYCONTACTSBlockLi2{
	background: url(../img/MYCONTACTSBlockLi2.png) 50% 0 / 18% auto no-repeat;
}
#MYCONTACTSBlockLi2._active{
	animation: MYCONTACTSBlockSubmmit 1s forwards;
}
#MYCONTACTSBlockLi3{
	background: url(../img/MYCONTACTSBlockLi3.png) 50% 0 / 18% auto no-repeat;
}
#MYCONTACTSBlockLi3._active{
	animation: MYCONTACTSBlockSubmmit 1.8s forwards;
}
@keyframes MYCONTACTSBlockSubmmit{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
.MYCONTACTSBlock h3{
	margin-bottom: 5%;
	font-size: 2.3vh;
}
.MYCONTACTSBlock form{
	width: 100%;
	height:40%;
	float: left
}
.MYCONTACTSBlock input:hover{
	background-color: #f8e9d5;
}
#MYCONTACTSButton1{
	width: 48%;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 1%;
	margin-right: 3%;
}
#MYCONTACTSButton2{
	width: 48%;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 1%;
}
#MYCONTACTSButton3{
	width: 48%;
	background: none;
	border: 2px solid white;
	color: white;
	padding-top: 1%;
	padding-bottom: 1%;
	transition: 0.4s;
}
#MYCONTACTSButton3:hover{
	border: 2px solid #d27f00;
	color: #d27f00;
	transform:translate(0, 5%);
}
#MYCONTACTSArea1{
	margin-top: 3%;
	margin-bottom: 3%;
	width: 100%;
	height: 30%;
}
#MYCONTACTSArea1:hover{
	background-color: #f8e9d5;
}
.Maps{
	width: 100%;
	height: 30vh;
	background: url(../img/MapsImage.jpg) 0 0 / 100% auto no-repeat;
}