@font-face {
  font-family: 'franklin-gothic-medium';
  src: url(../fonts/franklin-gothic-medium/franklin-gothic-medium.eot);
  src: url(../fonts/franklin-gothic-medium/franklin-gothic-medium.eot?#iefix) format('embedded-opentype'),
       url(../fonts/franklin-gothic-medium/franklin-gothic-medium.ttf) format('truetype'),
       url(../fonts/franklin-gothic-medium/franklin-gothic-medium.woff) format('woff'),
       url(../fonts/franklin-gothic-medium/franklin-gothic-medium.woff2) format('woff2'),
       url(../fonts/franklin-gothic-medium/franklin-gothic-medium.svg#franklin-gothic-medium) format('svg'),
       url(../fonts/franklin-gothic-medium/franklin-gothic-medium.otf) format('otf');
    font-weight: normal;
    font-style: normal;
}
body{
	font-size: Arial, sans-serif;
	font-family: 'franklin-gothic-medium';
}
header{
	position: fixed;
	z-index: 3;
	height: 8%;
	width: 100%;
	top: 0;
	left: 0;
}
nav{
	width: 100%;
	height: 100%;
	background: #344052;
	color: white;
}
@keyframes comming{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
@keyframes topShift{
	from{
		opacity: 0;
		margin-top: -8vh;
	}
	to{
		opacity: 1;
		margin-top: 0;
	}
}
.logo{
	font-size: 3vh;
	line-height: 8vh;
	height: 100%;
	width: 100%;
	animation-delay: 1s;
}
.logo._active{
	animation: comming 4s;
}
.menu{
	float: left;
	width: 100%;
}
.menu li{
	opacity: 0;
	float: left;
	line-height: 8vh;
	margin-right: 2%;
	font-size: 12px; 
	
}
.menu li._active{
	-webkit- animation: topShift 0.4s forwards;
	-o- animation: topShift 0.4s forwards;
	animation: topShift 0.4s forwards;
}
.menu li:nth-child(2){
	animation-delay: 0.4s;
}
.menu li:nth-child(3){
	animation-delay: 0.6s;
}
.menu li:nth-child(4){
	animation-delay: 0.8s;
}
.menu li:nth-child(5){
	animation-delay: 1s;
}
.menu li:nth-child(6){
	animation-delay: 1.2s;
}
.menu ul li a{
	transition: color 0.5s;
	color: white;
	transition: transform 0.3s;
	display: inline-block;
	transform: scale(1);
	text-decoration: none;
}
.menu ul li a:hover{
	color: #e6a754;
	transform: translate(0,5%);
}
.menu ul li a:active{
	transform: scale(1.08);
}
.btn-white:visited{
	color: white;
	font-size: 3vh;
	height: 100%;
	width: 100%;
	--bs-btn-font-size: 2rem;
}
main{
	width: 100%;
}
.main{
	margin-top: 8vh;
	height: 92vh;
	width: 100%;
}
.titleContener{
	height: 100%;
	width: 100%;
	background: url(../img/boy.jpg) 90% 100%/ auto 90% no-repeat, url(../img/fon.jpg) center /100% 100% no-repeat ;
}
.titleContenerDiv{
	opacity: 0;
	float: left;
	text-align: center;
	width: 100%;
	height: 40%;
}
.titleContenerDiv._active{
	-webkit- animation: leftShift 2s forwards;
	-o- animation: leftShift 2s forwards;
	animation: leftShift 2s forwards;
	animation-delay: 1s;
}
@keyframes leftShift{
	from{
		margin-left: -30%;
		opacity: 0;
	}
	to{
		margin-left: 0%;
		opacity: 1;
	}
}
.titleContener h1{
	font-weight: bold;
	font-size: 10vh;
	color: #2c384a;
}
.titleContener h4{
	color: #79818d;
	margin-top: 5%;
	font-size: 2vh;
}
.titleContener input{
	margin-top: 12%;
	text-align: center;
	border: 2px solid #79818d;
	color: #79818d;
	background: none;
	border-radius: 5px;
	height: 17%;
	padding-left: 2%;
	padding-right: 2%;
	font-size: 3vh;
	margin-left: 4%;
	transition: 0.5s;
	transform: scale(1);
}
.titleContener input:hover{
	color: white;
	background-color: #344052; 
	transform: translate(0,5%);
}
.titleContener input:active{
	transform: scale(1.1);
}
.myInfo{
	width: 100%;
	height: 85vh;
	text-align: center;
}
.myInfo h2{
	font-size: 3vh;
	font-weight: bold;
	margin-top: 4%;
	margin-bottom: 2%;
	color: #263244;
	text-decoration: solid underline #d17700 6px;

}
.myInfo p{
	font-size: 2.2vh;
	text-align: left;
	margin-bottom: 1%;
	color: #3f495a;
}
.imageRadius{
	width: 23vh; 
	height: 23vh;
	margin: 0 auto;
	margin-bottom: 3%;
	transform: rotate3d(0, 1, 0, 180deg);
	backface-visibility: hidden;
	background: url(../img/myInfoPhoto.jpg) 0 0/ 100% 100% no-repeat;
	transition: 1s;
}
.imageRadius._active{
	animation: rotation3D  1.5s forwards;
}
@keyframes rotation3D{
	from{
		transform: rotate3d(0, 1, 0, 180deg);
	}
	to{
		transform: rotate3d(0, 1, 0, 0deg);
	}
}
.myInfo input{
	margin: 0 auto;
	margin-top: 4%;
	text-align: center;
	border: 2px solid #79818d;
	color: #79818d;
	background: none;
	border-radius: 5px;
	padding-left: 3%;
	padding-right: 1%;
	font-size: 2.5vh;
	background: url(../img/MyInfoButtonImage.jpg) 2% 45% / auto 50% no-repeat;
	transition: 0.5s;
}
.myInfo input:hover{
	border: 2px solid #db8756;
	transform: translate(0,5%);

}
.myInfo input:active{
	transform: scale(1.1);
}
.mySkills{
	width: 100%;
	height: 70vh;
	text-align: center;
	
	background: url(../img/mySkillsImageBk.jpg) 0 0 / auto 100% no-repeat;
}
.mySkills  h2{
	margin-top: 6%;
	margin-bottom: 8%;
	font-size: 3vh;
	font-weight: bold;
	color: #263244;
	text-decoration: solid underline #d17700 6px;
}

.mySkillsLi{
	padding-top: 15%;
	opacity: 0;
	transition: 0.8s;
}
.mySkillsLi:hover{
	transform: translate(0, 15%) scale(1.1);
}

.mySkillsLi._active{
	animation: mySkillsleftShift 2s forwards;
}
@keyframes mySkillsleftShift{
	from{
		margin-left: -20%;
		opacity: 0.5;
	}
	to{
		margin-left: 0%;
		opacity: 1;
	}
}
.mySkillsHeading{
	color: #cf7600;
	font-size: 2.7vh;
	margin-bottom: 7%;
}
.mySkillsText{
	color: #3f495a;
	font-size: 2.1vh;
}
.mySkillsLi:nth-child(1){
	background: url(../img/MySkilsImage1.png) 50% 0 / 40% auto no-repeat;
}
.mySkillsLi:nth-child(2){
	background: url(../img/MySkilsImage2.png) 50% 0 / 40% auto no-repeat;
}
.mySkillsLi:nth-child(3){
	background: url(../img/MySkilsImage3.png) 50% 0 / 40% auto no-repeat;
}
.mySkillsLi:nth-child(4){
	margin-right: 0;
	background: url(../img/MySkilsImage4.png) 50% 0 / 40% auto no-repeat;
}
.cases{
	text-align: center;
	height: 140vh;
}
.cases h2{
	margin-top: 4%;
	margin-bottom: 2%;
	font-size: 3vh;
	font-weight: bold;
	color: #263244;
	text-decoration: solid underline #d17700 6px;
}
#casesHadingP{
	margin-top: 1%;
	font-size: 2.2vh;
	color: #384354;
}
.casesInfo1{
	color: #384354;
	text-align: left;
}
.casesInfo2{
	color: #384354;
	text-align: left;
}
.casesInfo1 h3{
	font-size: 2.4vh;
	font-weight: bold;
	margin-bottom: 2%;
}
.casesInfo1 p{
	font-size: 2vh;
	margin-bottom: 2%;

}
.casesInfo1 input{
	margin-top: 5%;
	background-color: #63b5ae;
	color: white;
	font-size: 2.3vh;
	font-weight: bold;
	border-radius: 3px;
	padding-left: 8%;
	padding-right: 8%;
	padding-top: 3%;
	padding-bottom: 3%;
	transform: scale(1);
	transition: 0.6s;
}
.casesInfo1 input:hover{
	background-color: #84ede4;
	transform: translate(0, 5%);
}
.casesInfo1 input:active{
	transform: scale(1.06);
}
.casesInfo2 h4{
	font-size: 2.8vh;
	font-weight: bold;
	margin-bottom: 2%;
}
.casesInfo2 p{
	font-size: 2.3vh;
	margin-bottom: 2%;
}
.cost{
	height: 90vh;
}
.cost h2{
	font-size: 5vh;
	font-weight: bold;
	margin-bottom: 1%;
}
.cost h3{
	font-size: 2.9vh;
	font-weight: bold;
}
.cost select{
	text-align: left;
	margin-bottom: 1%;
	width: 100%;
	height: 50%;
	background-color: #eeeeee;
	color: #737373;
	transition: 0.2s;
	font-size: 2.1vh;
}
.cost select:hover{
	background-color: #f8e9d5; 
}

.cost h4{
	text-align: left;
	font-size: 2.6vh;
	width: 100%;
}
.cost input{
	background-color: #63b5ae;
	color: white;
	font-size: 2.3vh;
	font-weight: bold;
	border-radius: 3px;
	width: 100%;
	padding-top: 1%;
	padding-bottom: 1%;
	transform: scale(1);
	transition: 0.6s;
}
.cost input:hover{
	background-color: #84ede4;
	transform: translate(0, 5%);
}
.cost input:active{
	transform: scale(1.06);
}
.cost .row{
	height:16%;
}
.statistics{
	width: 100%;
	height: 55vh;
	color: #1c2534;
	

}
.statisticsParalax{
	width: 100%;
	height: 100%;
}
.parallax-window{
	width: 100%;
	height: 100%;
}
.statisticsBlock{
	height: 100%;
	text-align: center;
}
.statisticsBlock h2{
	margin-top: 6%;
	text-align: center;
	margin-bottom: 4%;
	font-size: 3vh;
	font-weight: bold;
	color: #263244;
	text-decoration: solid underline #d17700 6px;
}
.statisticsBlockUl{
	width: 100%;
	height: 50%;
	margin-top: 5%;
	transform: translateZ(-1px);
}
.statisticsBlockLi{
	padding-top: 10%;
	height: 40%;
	transition: 0.6s;
}
.statisticsBlockLi:hover{
	transform: translate(0, 10%) scale(1.05);
}
.statisticsBlock h3{
	font-size: 4.2vh;
	margin-bottom: 5%;
	font-weight: bold;
	color: #1c2534;
}
.statisticsBlock h4{
	font-size: 2vh;
	color: #1c2534;
}
.statisticsBlockLi:nth-child(1){
	background: url(../img/statisticsBlockLi1.png) 50% 0 / 30% auto no-repeat;
}
.statisticsBlockLi:nth-child(2){
	background: url(../img/statisticsBlockLi2.png) 50% 0 / 30% auto no-repeat;
}
.statisticsBlockLi:nth-child(3){
	background: url(../img/statisticsBlockLi3.png) 50% 0 / 30% auto no-repeat;
}
.statisticsBlockLi:nth-child(4){
	background: url(../img/statisticsBlockLi4.png) 50% 0 / 30% auto no-repeat;
}
.reviews{
	width: 100%;
	height:60vh;
	opacity: 0;
}
.reviews._active{
	animation: reviewsSubmmit 2s forwards;
}
@keyframes reviewsSubmmit{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
.reviewsBlock{
	text-align: center;
	height: 100%;
}
.reviewsBlock h2{
	margin-top: 6%;
	margin-bottom: 5%;
	font-size: 3vh;
	font-weight: bold;
	color: #263244;
	text-decoration: solid underline #d17700 6px;
}
#reviewsImageMain{
	width: 15vh; 
	height: 15vh;
	margin: 0 auto;
	margin-bottom: 2%;
	background: url(../img/reviewsImageMain.jpg) 0 0/ 100% 100% no-repeat;
}
.reviewsBlock p{
	margin-bottom: 10%;
	font-size: 2vh;
	color: #263244;
}
.reviewsBlock bold{
	font-weight: bold;
}
.MYCONTACTS{
	width: 100%;
	height: 85vh;
	color: white;
	background: url(../img/MYCONTACTSImage.jpg) 0 0 / auto 100% no-repeat;
}
.MYCONTACTSBlock{
	text-align: center;
	height: 100%;
}
.MYCONTACTSBlock h2{
	margin-top: 4%;
	margin-bottom: 2%;
	font-size: 3vh;
	font-weight: bold;
	text-decoration: solid underline #d17700 6px;
}
.MYCONTACTSBlock p{
	margin-bottom: 5%;
	font-size: 1.8vh;
}
.MYCONTACTSBlockLi{
	opacity: 0;
	font-size: 1.8vh;
	padding-top: 6%;
	height: 40%;
	transition: 0.8s;
}
.MYCONTACTSBlockLi:hover{
	transform: translate(0, 10%) scale(1.05);
}
.MYCONTACTSBlockLi:nth-child(1){
	background: url(../img/MYCONTACTSBlockLi1.png) 50% 0 / 18% auto no-repeat;
}
.MYCONTACTSBlockLi:nth-child(1)._active{
	animation: MYCONTACTSBlockSubmmit 2.6s forwards;
}

.MYCONTACTSBlockLi:nth-child(2){
	background: url(../img/MYCONTACTSBlockLi2.png) 50% 0 / 18% auto no-repeat;
}
.MYCONTACTSBlockLi:nth-child(2)._active{
	animation: MYCONTACTSBlockSubmmit 1s forwards;
}
.MYCONTACTSBlockLi:nth-child(3){
	background: url(../img/MYCONTACTSBlockLi3.png) 50% 0 / 18% auto no-repeat;
}
.MYCONTACTSBlockLi:nth-child(3)._active{
	animation: MYCONTACTSBlockSubmmit 1.8s forwards;
}
@keyframes MYCONTACTSBlockSubmmit{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
.MYCONTACTSBlock h3{
	margin-bottom: 1%;
	font-size: 1.8vh;
}
.MYCONTACTSBlock form{
	width: 100%;
	height:100%;
}
.MYCONTACTSBlock input:hover{
	background-color: #f8e9d5;
}
.MYCONTACTSButton{
	font-size: 2vh;
	width: 100%;
	height: 100%;
}
.MYCONTACTSButtonRow{
		height: 10%;
}
.MYCONTACTSButtonArea{
		height: 25%;
}
#MYCONTACTSButton3{
	background: none;
	border: 2px solid white;
	color: white;
	transition: 0.4s;
}
#MYCONTACTSButton3:hover{
	border: 2px solid #d27f00;
	color: #d27f00;
	transform:translate(0, 5%);
}
.MYCONTACTSArea{
	width: 100%;
	font-size: 2vh;
	height: 100%;
}
.MYCONTACTSArea:hover{
	background-color: #f8e9d5;
}
.Maps{
	width: 100%;
	height: 30vh;
	background: url(../img/MapsImage.jpg) 0 0 / auto 100% no-repeat;
}
@media(max-width: 991px){
	.logo{
		font-size: 2vh;
	}
	.titleContenerDiv{
		position: relative;
		z-index: 2;
	}
	.titleContener h1{
		font-size: 7vh;
		color: white;
	}
	.titleContener h4{
		color: white;
	}
	.titleContener input{
		color: white;
		font-size: 2vh;
		border: 2px solid white;
	}
	.titleContener input:hover{
		background: none;
	}
	.main{
		position: relative;
	}
	.main::after{
		content: "";
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		position: absolute;
		background-color: rgb(0,0,0,0.4);
		z-index: 1;
	}
	.imageRadius{
		width: 17vh;
		height: 17vh;
	}
	.myInfo h2{
		font-size: 2.5vh;
	}
	.myInfo input{
		padding-left: 8%;
	}
	.mySkills h2{
		font-size: 2.5vh;
	}
	.mySkillsText{
		font-size: 1.7vh;
	}
	.cases h2{
		font-size: 2.5vh;
	}
	.cases{
		height: 80vh;
	}
	.casesInfo1 p{
		font-size: 1.5vh;
	}
	.casesInfo2 p{
		font-size: 2vh;
	}
	#casesHadingP{
		font-size: 1.5vh;
	}
	.cost h2{
		font-size: 2.5vh;
	}
	.cost{
		height: 70vh;
	}
	.cost input{
		font-size: 1.8vh;
	}
	.cost h3{
		font-size: 2vh;
		margin-top: 1%;
	}
	.cost select{
		font-size: 1.7vh;
	}
	.statistics{
		height: 70vh;
	}
	.statistics h2{
		margin-top: 10%;
		font-size: 2.5vh;
	}
	.statisticsBlockLi {
	    padding-top: 20%;
	    height: 60%;
	}
	.statisticsBlockUl{
		margin-top: 10%;

	}
	.reviewsBlock h2{
		font-size: 2.5vh;
	}
	.MYCONTACTSBlock{

	}
	.MYCONTACTSBlock h2{
		margin-top: 2%;
		margin-bottom: 2%;
		font-size: 2.5vh;
	}
	.MYCONTACTSBlock p{
		margin-bottom: 1%;
		font-size: 1.2vh;
	}
	.MYCONTACTSBlockLi{
		font-size: 1.2vh;
		padding-top: 12%;
		height: 40%;
		transition: 0.8s;
	}

}